<!--block and partial helpers work together to provide you template inheritance!!!!!
Partial overrides block from base with the same name-->
{{#partial "content"}}
    {{#if username  }}
        <h1>Welcome {{ username }}!</h1>
        <!--In case we know this username then we can go to the page /ideas and show customer all existing ideas-->
        <p>View <a href="/ideas">all course ideas</a>.</p>
    {{ else }}
        <h1>Welcome Students!</h1>
        <!--This whole form here we need in order to take username field and use it afterwards to make message more specific depending who opens the page
        so we need a field called username-->
        <form action="/sign-in" method="post">
            <input type="text" placeholder="What's your user name?" name="username">
            <button>Sign in</button>
        </form>
    {{/if}}
{{/partial}}

{{> base.hbs}}